.name {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  cursor: pointer;
}

.line {
  border: 1px solid #f7ca18;
  margin-top: 20px;
}

.deletebtn {
  float: right;
  
  background-color: #f7ca18;
  padding: 11px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: black;
}


.completed{

  text-decoration: line-through;
  color: green;
}





